<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veslo</title>
    <link rel="icon" href="../public/img/791a736a31bc427ba9f5d90f05fb880f.png">
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
    <header>
        <div>
            <img src="../public/img/791a736a31bc427ba9f5d90f05fb880f.png" alt="Img de header" class="img-header">
        </div>
        <div class="a-buttons">
            <a href="index.html">Logueate</a>
            <a href="index.html">Registrate</a>
            <a href="index.html">Contactanos</a>
        </div>
    </header>
</body>
</html>